@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300&display=swap");
:root{
    font-size: 10px;
}
body{
    margin-top: 10rem;
    background-color: #e61d2a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

*{
    margin: 0px;
    padding: 0%;
    // font-family: "Bubblegum Sans", cursive;
}
.product_imgs_container{
    display: flex;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    div{
        
        img{
            box-sizing: border-box;
        padding-bottom: 30px;
            height: 350px;
            width: 350px;
            position: relative;
              animation: mymove;
              animation-duration: 3s;
              animation-iteration-count: infinite;
              animation-timing-function: ease-in-out;
            //  top: 30px;
            // bottom: 30px;
            &:hover{
                // transition: 1s ease-in-out all;
                 transform: rotate(3deg);
            }
            @keyframes mymove{
                0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }  
        }
    }
          
        p{
            text-align: center;
            color: white;
            font-size: 3rem;
            font-family: "Bubblegum Sans", cursive;
        }
    }
}
@media (600px <= width <= 1050px){
    .product_imgs_container{
        height: 300px;
        div{
            img{
                height: 200px;
                width: 200px;
            }
            p{
                font-size: 2rem;
            }
        }
}
}
@media (100px <= width <= 600px){
    .product_imgs_container{
        height: auto;
        flex-direction: column;
        gap: 20px;
        div{
            img{
                height: 200px;
                width: 200px;
            }
            p{
                font-size: 2rem;
            }
        }
}
}
.product_info_cntainer_popup{
    display: none;
    border-radius: 40px;
    width: 600px;
    height: 450px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: 50;
    .popup_cross_btn{
        margin-top: 10px;
        width: 40px;
        height: 40px;
        font-size: 1rem;
        text-align: center;
        line-height: 40px;
        margin-left: auto;
        margin-right: 20px;
        border-radius: 50%;
        &:hover{
            background-color: rgba(0, 0, 0, 0.29);
        }
    }
    .img_and_info_container{
        display: flex;
        box-sizing: border-box;
        padding-right: 50px;
        align-items: center;
        height: calc(100% - 40px);
    .img_popup_info_container{
        width: fit-content;
        height: 350px;
        .popup_img{
        position: relative;
        transform: rotate(20deg);
        height: 300px;
        animation: mymovee;
              animation-duration: 3s;
              animation-iteration-count: infinite;
              animation-timing-function: ease-in-out;

              @keyframes mymovee{
                0% { transform: translate(0,  0px) rotate(5deg); }
    50%  { transform: translate(0, 15px) rotate(-5deg); }
    100%   { transform: translate(0, -0px) rotate(5deg);; }  
        }
    }

}
    .img_info{
        height: 300px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .img_info_font_style_one{
        font-size: 3rem;
        font-family: "Bubblegum Sans", cursive;
    }
    .img_info_font_description{
        font-size: 2rem;
        font-family: "Josefin Sans", sans-serif;
    }
}
}
@media (420px <= width <= 620px){
.product_info_cntainer_popup{
    height: 500px;
    width: 400px;
    .img_and_info_container{
        padding-right: 0px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .img_popup_info_container{
            height: 150px;

    .popup_img{
        height: 120px;
    }
}
}
}
.img_info{
.img_info_font_style_one{
    font-size: 2rem;
    font-family: "Bubblegum Sans", cursive;
    padding-left: 20px;
}
.img_info_font_description{
    font-size: 1rem;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
    padding-inline: 20px;
}
}
}
@media (100px <= width <= 420px){
    .product_info_cntainer_popup{
        height: 400px;
        width: 300px;
        border: solid brown;
        .img_and_info_container{
            padding-right: 0px;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .img_popup_info_container{
                height: 150px;
        .popup_img{
            height: 120px;
        }
    }
    }
    }
    .img_info{
    .img_info_font_style_one{
        font-size: 1rem;
        font-family: "Bubblegum Sans", cursive;
        padding-left: 20px;
    }
    .img_info_font_description{
        font-size: 1.5rem !important;
        font-family: "Josefin Sans", sans-serif;
        box-sizing: border-box;
        padding-inline: 10px;
    }
    }
    }